{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Team Results</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="chart.js" defer></script>
</head>

<body>

  <div class="logo-and-profile-container">
    <img src="{% static 'logo2.svg.png' %}">
    <a href="viewProfile.html"><img src="{% static 'profile.png' %} " class="profile-btn"></a>
  </div>


  <div class="chart-container">

    <h1 class="chart-title">TEAM RESULTS</h1>

    <select id="teams" class="select-option">
      <option selected disabled>Select Team</option>
      <option value="1">Team 1</option>
      <option value="2">Team 2</option>
      <option value="3">Team 3</option>
      <option value="4">Team 4</option>
      <option value="5">Team 5</option>
    </select>

    <select id="session" class="select-option">
      <option selected disabled>Select Session</option>
      <option value="1">January Review</option>
      <option value="3">February Review</option>
      <option value="4">March Review</option>
      <option value="5">April Review</option>
      <option value="6">May Review</option>
      <option value="7">June Review</option>
    </select>


    <div class="chart-options">
      <div class="tableButton"><a href="{% url 'view-table-team' %}">View as Table</a></div>
      <div class="printButton"><a href="#" onclick="window.print()">Print Results</a></div>
    </div>

    <canvas id="teamChart" class="results-chart"></canvas>

  </div>

  <div class="exit-button-container">
    <a href="adminHomepage.html" class="exit-button">Exit to Homepage</a>
  </div>

</body>
</html>
